:host {
  display: flex;
}

.c-file-node {
  min-width: 14rem;
  display: flex;
  flex-direction: column;

  &__header {
    border: 1px solid black;
    height: 1.1rem;
    display: flex;
    align-items: flex-start;
    padding-block: .5rem;

    &:hover > .c-file-node__actions {
      display: flex;
    }
  }

  &__header.is-dir {
    background: gray;
  }

  &__actions {
    display: none;
    gap: 1rem;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
  }
}