<h2>Instructions:</h2>

<ul>
  <li>When creating a new file/directory, press <i>TAB</i> or <i>ENTER</i> to save</li>
  <li>When creating a new file/directory, leave the input blank and trigger a blur event to cancel the process</li>
  <li>When editing a new file/directory, press <i>TAB</i> to save</li>
  <li>When editing a new file/directory, leave the input blank and trigger a blur event to cancel the process</li>
</ul>

<div class="c-toolbar">
  <form #f="ngForm" (ngSubmit)="addRootFolder(f.value)">
    <input [ngModel] name="name" placeholder="Folder name.." type="text">
    <button type="submit">Add root folder</button>
  </form>
</div>

<div
  *ngIf="(rootFolders$ | async) as rootFolders"
  class="c-root-folders"
>
  <ng-container *ngIf="rootFolders.length; else empty">
    <app-file-node *ngFor="let rootFolder of rootFolders" [fileNode]="rootFolder"></app-file-node>
  </ng-container>

  <ng-template #empty>
    There are no folders.
  </ng-template>
</div>